<div class="container m-0 p-0 mb-3">
  <div class="row">
    <img src="/assets/img/nav/spacer.png" class="logo binder-logo"/>
  </div>
</div>
<div class="row">
  <div class="nav flex-column nav-pills">
    <div class="nav flex-column nav-pills ">
      <div class="sub-heading">Manage</div>
      <a class="nav-link text-nowrap flex-nowrap" href="#"><img src="/assets/img/nav/spacer.png" width="30" class="image-icon notebooks-icon"/><span class="pl-2">Notebooks</span></a>
      <a class="nav-link rounded-0 rounded-start text-nowrap flex-nowrap active" href="#"><img src="/assets/img/nav/spacer.png" width="30"  class="image-icon actions-icon"/><span class="pl-2">Actions</span></a>
      <div class="sub-heading">Personalize</div>
      <a class="nav-link rounded-0 rounded-start text-nowrap flex-nowrap" href="#"><img src="/assets/img/nav/spacer.png" width="30" class="image-icon templates-icon"/><span class="pl-2">Templates</span></a>
      <a class="nav-link text-nowrap flex-nowrap animated fadeIn"  href="#" ><img src="/assets/img/nav/spacer.png" width="30"  class="image-icon screens-icon"/><span class="pl-2">Screens</span></a>
      <div class="sub-heading">Device Management</div>
      <a class="nav-link text-nowrap flex-nowrap"  href="#"><img src="/assets/img/nav/spacer.png" width="30"  class="image-icon restart-icon"/><span class="pl-2">Restart</span></a>
      <a class="nav-link text-nowrap flex-nowrap"  href="#"><img src="/assets/img/nav/spacer.png" width="30"  class="image-icon clean-icon"/><span class=" pl-2">Clean</span></a>
    </div>
  </div>
</div>
<div class="position-absolute bottom-0 mb-4">
  <div class="row">
    <div class="d-flex justify-content-end">
      <div class="status-indicator active"></div>
      <div class="text-opacity-50 status-indicator-text">Not connected</div>
    </div>
  </div>
</div>
